.ourValues {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  justify-content: space-between;
  text-align: justify;
}

.ourValues > * {
  flex: 1 1 calc(50% - 20px); /* Two-column layout */
  box-sizing: border-box;
  min-width: 200px;
}
